
<div class="block" style="min-height: 456px;">
  <h3>FAQ</h3>
  <div class="faq">
    <h5 style="text-align: center">Доступные привелегии</h5>
    <h6><i class="fas fa-circle icon"></i><span class="premium">[PREMIUM]:</span> Сумма пополнений от 1000</h6>
    <h6><i class="fas fa-circle icon"></i><span class="vip">[VIP]:</span> Сумма пополнений от 3000</h6>
    <hr>
    <h5 style="text-align: center">Как играть?</h5>
    Для начала игры выберите размер ставки и цвет, на который вы желаете поставить. После этого дождитесь, пока таймер дойдёт до 0 и круг прокрутится. Если курсор указал на ваш цвет, значит ваша ставка увеличивается на указанный множитель(<i class="fas fa-exclamation"></i> Сайт взымает комиссию в размере 10% от размера выигрыша).<br>
    Игра начнётся только после того, как ставки будут сделаны на обе команды.
    <hr>
    <h5 style="text-align: center">Честная игра</h5>
    После того, как таймер достигнет значения 0, сервер пришлёт ответ с сгенерированным числом с помощью сервиса <a href="https://random.org" target="_blank">RANDOM.ORG</a>. Число генерируется только в конце игры. Чтобы удостоверится в честности проведенной игры, нажмите на кружок в Последних играх. После чего вы будете перенаправлены на сервис <a href="https://random.org" target="_blank">RANDOM.ORG</a>.
    <hr>
    <h5 style="text-align: center">Правила</h5>
    <p><b>1. ОБЩИЕ ПОЛОЖЕНИЯ. ТЕРМИНЫ.<br></b>
      1.1. Настоящее соглашение – официальный договор на пользование услугами сервиса {{config.nameSite}}. Ниже приведены основные условия пользования услугами сервиса. Пожалуйста, прежде чем принять участие в проекте внимательно изучите правила.
      <br>
      1.2. Услугами сервиса могут пользоваться исключительно лица, достигшие совершеннолетия (18 лет) и старше.
      <br>
      1.3. On-line проект под названием {{config.nameSite}} представляет собой систему добровольных пожертвований, принадлежит его организатору и находится в сети Интернет непосредственно по адресу – {{config.nameSite}}.
      <br>
      1.4. Участие пользователей в проекте является исключительно добровольным.
      <br>
      <b>2. УЧЁТНАЯ ЗАПИСЬ УЧАСТНИКА ПРОЕКТА (ПОЛЬЗОВАТЕЛЯ СИСТЕМЫ).<br></b>
      2.1. Способом непосредственной регистрации учетной записи является авторизация участников проекта с помощью сервиса ВКонтакте.
      <br>
      2.2. Кроме того, участник проекта несет непосредственную ответственность за любые предпринятые им действия в рамках проекта.
      <br>
      2.3. Участник проекта обязуется своевременно сообщить о противозаконном доступе к его учетной записи, противозаконном использовании его учетной записи, по средствам технической поддержки сервиса.
      <br>
      2.4. Сервис, а также его правообладатель не несут ответственность за любые предпринятые действия участником проекта касательно третьих лиц.
      <br>
      2.5. При использовании несколькими участниками проекта одно и тоже устройство или выход в интернет для игры, необходимо согласование с администрацией.
      <br>
      <b>3. КОНФИДЕНЦИАЛЬНОСТЬ<br></b>
      3.1. В рамках проекта гарантируется абсолютная конфиденциальность информации, предоставленной участником проекта сервису.
      <br>
      3.2 Личные данные участника проекта могут быть представлены третьим лицам исключительно в случаях непосредственного нарушения действующих законов РФ, в случаях оскорбительного поведения, клеветы в отношении третьих лиц.
      <br>
      <b>4. УЧАСТНИК ПРОЕКТА (ПОЛЬЗОВАТЕЛЬ СИСТЕМЫ).<br></b>
      4.1. В случае непосредственного нарушения участником проекта изложенных условий и правил настоящего соглашения, а также действующих законов РФ, учетная запись может быть заблокирована.
      <br>
      4.2. Недопустимы попытки противозаконного доступа, нанесения вреда работе системы сервиса.
      <br>
      4.3. Недопустима любая агрессия, сообщения, запрограммированные на причинение ущерба сервису (вирусы), информация, способная повлечь за собой несущественный, или существенный вред третьим лицам.
      <br>
      <b>5. КАТЕГОРИЧЕСКИ ЗАПРЕЩЕНО<br></b>
      5.1. Размещение информации, содержащей поддельные (неправдивые) данные.
      <br>
      5.2. Проводить попыток взлома сайта и использовать возможные ошибки в скриптах. Нарушители будут немедленно забанены и удалены.
      <br>
      5.3. Регистрация более чем одной учетной записи индивидуального участника проекта.
      <br>
      5.4. Передача информации иным, третьим лицам, содержащей данные для доступа к личной учетной записи участника проекта.
      <br>
      5.5. Выплата на одинаковые реквизиты с разных аккаунтов.
      <br>
      5.6. Махинации с реферальной системой.
      <br>
      <b>6. Выплаты.<br></b>
      6.1 Выплаты производятся в автоматическом режиме после одобрения администраторами.
      <br>
      6.2 Комиссия на выплаты частично лежит на пользователе. Размер комиссии составляет 5% на все платёжные системы, представленные в списке.
      <br>
      6.3 При выводе бонусных рублей может быть отказано без всяких причин.
      <br>
      6.4 Администрация сайта может потребовать скан или фото паспорта для верификации.
      <br>
      6.5 Вывод средств возможен без внесения депозита.
      <br>
      6.6 При отказе предоставить дополнительную информацию или верификации кошелька аккаунт может быть заблокирован.
      <br>
      6.7 При нарушении правил баланс аккаунта может быть заморожен.
      <br>
      6.8 Размер и количество выплат с одного аккаунта не ограничено.
      <br>
      <b>7. ПРИНЯТИЕ ПОЛЬЗОВАТЕЛЬСКОГО СОГЛАШЕНИЯ.<br></b>
      7.1. Непосредственная регистрация в системе данного проекта предполагает полное принятие участником проекта условий и правил настоящего пользовательского соглашения.
      <br>
      7.2. При нарушении правил учетная запись может быть заблокирована вместе с балансом.<br>
      <b>8. ПРОМОКОДЫ<br></b>
      8.1 Запрещено активировать промокоды, которые выдаются в группе, с разных аккаунтов. У нарушителей будет отключена возможность активировать любые промокоды.
      <br>
      8.2 Запрещено выкладывать реферальные промокоды или промокоды, выданные в оффициальной группе <a href="https://vk.com/battle_wtf" target="_blank">{{config.nameSite}}</a>, в чат. Наказание: блокировка чата<br>
      <b>9. ЧАТ</b><br>
      9.1 В чате <b>категорически</b> запрещено:<br>
      9.1.1 Спамить одинаковыми сообщениями<br>
      9.1.2 Выпрашивать промокоды у администраторов и участников проекта<br>
      9.1.3 Рекламировать сторонние ресурсы и упоминать о них<br>
      9.1.4 Выкладывать ссылки без одобрения администрации<br>
      9.1.5 Писать предложения, фразы и отдельные слова в верхнем реестре(CapsLock)<br>
      9.2 В качестве наказания будет применена блокировка чата
    </p>  </div>
</div>
