

  <div class="block" id="dailyBlock">

  </div>
  <!--<div class="block">
    <h3>Бонус за лайки и репосты</h3>
    <h6>Учитываются 25 последних постов(аккаунт должен быть открыт)</h6>
    <h6><i class="fas fa-info-circle" style="margin-right: 5px;"></i>Делать запрос можно 1 раз в час</h6>
    <h6><i class="fas fa-circle icon"></i>Стандартный: 0.05</h6>
    <h6 style="cursor: pointer;" routerLink="/faq"><i class="fas fa-circle icon"></i><span class="premium">[PREMIUM]:</span> 0.1</h6>
    <h6 style="cursor: pointer;" routerLink="/faq"><i class="fas fa-circle icon"></i><span class="vip">[VIP]:</span> 0.2</h6>
    <div class="button" style="background-color: #070707; color: white; margin: 10px auto;" onclick="vkbonus()"><i class="far fa-handshake" style="margin-right: 5px;"></i>Получить</div>
  </div>-->
